.f-wrapper{
    background-color: #0c060d;
    color: white;
    padding: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.f-wrapper>div{
    display: block;
    justify-content: center;
    align-items: center;
}
.mail{
    height: 25px;
    width: 25px;
}